@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('Muller-Regular'),
        url('./MullerRegular.woff2') format('woff2'),
        url('./MullerRegular.woff') format('woff'),
        url('./MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}